<h1 class="row padding-lg center">
  {{title}}
</h1>
<div class="row padding-lg">
  <div *ngFor="let s of playlist?.songs" class="container-fluid">
    <div class="row">    
      <div class="col-md-11">
        <app-song [song]="s"></app-song>
      </div>
      <div class="btn col-md-1 padding-lg" style="padding: 20px 0 0 0">
        <i (click)=onDeleteSong(s) class="material-icons float-r">delete</i>
      </div>
    </div>
  </div>
  <div *ngIf="playlist == null || playlist.songs.size === 0">
    No song available...
  </div>
</div>