<div class="row song padding-lg">
  <div class="col-md-10" (click)="selectSong();">
    <div class="col-md-6">
      <b>
        {{song.name}}
      </b>
    </div>
    <div class="col-md-6">
      <i>
        {{song.artist}}
      </i>
    </div>
  </div>
    <div class="col-md-2">
      <button class="btn btn-light" [disabled]="playlistsService.playlistsCount()<=0" (click)="isAdding=!isAdding;song.isSelected=false;">
        <i class="material-icons">playlist_add</i>
      </button>
  </div>

  <div *ngIf="isAdding" class="col-md-12 padding-lg small-border-top small-margin-top">
    <div *ngFor="let p of playlistsService.getPlaylists();">
      <div class="btn btn-block btn-success margin-lg" (click)="playlistsService.addSong(song,p);isAdding=false;song.isSelected=false;">
          <i class="material-icons" style="position: relative;top: 6px;">playlist_add</i> {{p.name}}
      </div>
    </div>
  </div>
  <div *ngIf="song.isSelected && !isAdding" class="col-md-12 padding-lg small-border-top small-margin-top">
      <iframe class="col-md-12" [src]="iFrame"></iframe>
  </div>
</div>